* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(80 / 1440 * 100vw);
    font-family: 'Inter';
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__block {
    display: flex;
}

.header__logo {
    width: calc(222 / 1440 * 100vw);
    height: calc(50 / 1440 * 100vw);
    margin-left: calc(30 / 1440 * 100vw);
    vertical-align: middle;
}

.header__title {
    font-size: calc(36 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
    margin-left: calc(30 / 1440 * 100vw);
    vertical-align: middle;
}

.header__link {
    display: flex;
}

.header__link-signup {
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 700;
    color: rgba(120, 120, 120, 1);
    text-decoration: none;
    margin-left: calc(628 / 1440 * 100vw);
}

.header__link-login {
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 700;
    color: #1A226B;
    text-decoration: none;
    margin-left: calc(28 / 1440 * 100vw);
}

.form {
    position: relative;
    height: calc(383 / 1440 * 100vw);
    width: calc(600 / 1440 * 100vw);
    left: calc(403 / 1440 * 100vw);
    top: calc(205 / 1440 * 100vw);
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}

.form__title {
    position: absolute;
    width: calc(115 / 1440 * 100vw);
    height: calc(50 / 1440 * 100vw);
    left: calc(242 / 1440 * 100vw);
    top: calc(26 / 1440 * 100vw);
    font-family: Roboto, sans-serif;
    font-size: calc(50 / 1440 * 100vw);
    font-weight: 700;
    color: rgba(120, 120, 120, 1);
}

.form__email-label {
    position: absolute;
    left: calc(53 / 1440 * 100vw);
    top: calc(93 / 1440 * 100vw);
    font-family: Roboto, sans-serif;
    font-size: calc(16 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
}

.form__email-input {
    position: absolute;
    height: calc(49 / 1440 * 100vw);
    width: calc(509 / 1440 * 100vw);
    left: calc(45 / 1440 * 100vw);
    top: calc(112 / 1440 * 100vw);
    border: 2px solid rgba(120, 120, 120, 1);
    font-family: Roboto, sans-serif;
    font-size: calc(28 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
    padding-top: calc(7 / 1440 * 100vw);
    padding-bottom: calc(6 / 1440 * 100vw);
    padding-left: calc(15 / 1440 * 100vw);
}

.form__email-input::placeholder {
    color:#CCCCCC;
}

.form__email-input:focus {
    outline: #787878 none;
}

.form__password-label {
    position: absolute;
    left: calc(53 / 1440 * 100vw);
    top: calc(174 / 1440 * 100vw);
    font-family: Roboto, sans-serif;
    font-size: calc(16 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
}

.form__password-input {
    position: absolute;
    height: calc(49 / 1440 * 100vw);
    width: calc(509 / 1440 * 100vw);
    top: calc(193 / 1440 * 100vw);
    left: calc(45 / 1440 * 100vw);
    border: 2px solid rgba(120, 120, 120, 1);
    font-family: Roboto, sans-serif;
    font-size: calc(28 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
    padding-top: calc(7 / 1440 * 100vw);
    padding-bottom: calc(6 / 1440 * 100vw);
    padding-left: calc(15 / 1440 * 100vw);
}

.form__password-input::placeholder {
    color: #CCCCCC;
}

.form__password-input:focus {
    outline: #787878 none;
}

.form__button {
    position: absolute;
    height: calc(52 / 1440 * 100vw);
    width: calc(180 / 1440 * 100vw);
    left: calc(210 / 1440 * 100vw);
    top: calc(294 / 1440 * 100vw);
    background: rgba(26, 34, 107, 1);
    border: none;
    font-family: Roboto, sans-serif;
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width:769px) and (min-width:1440px) {
    .header__logo {
        margin-left: calc(30 / 769 * 100vw);
        width: calc(222 / 769 * 100vw);
        height: calc(50 / 769 * 100vw);
        vertical-align: middle;
    }
    
    .header__title {
        font-size: calc(36 / 769 * 100vw);
        font-weight: 700;
        color: #787878;
        vertical-align: middle;
        margin-left: calc(30 / 769 * 100vw);
    }
    
    .header__link-signup {
        font-size: calc(24 / 769 * 100vw);
    }
    
    .header__link-login {
        font-size: calc(24 / 769 * 100vw);
        margin-left: calc(28 / 769 * 100vw);
    }

    .form {
        height: calc(383 / 769 * 100vw);
        width: calc(600 / 769 * 100vw);
        left: calc(403 / 769 * 100vw);
        top: calc(205 / 769 * 100vw);
    }
    
    .form__title {
        width: calc(115 / 769 * 100vw);
        height: calc(50 / 769 * 100vw);
        left: calc(242 / 769 * 100vw);
        top: calc(26 / 769 * 100vw);
        font-size: calc(50 / 769 * 100vw);
    }

    .form__email-label {
        left: calc(53 / 769 * 100vw);
        top: calc(93 / 769 * 100vw);
        font-size: calc(16 / 769 * 100vw);
    }
    
    .form__email-input {
        height: calc(49 / 769 * 100vw);
        width: calc(509 / 769 * 100vw);
        left: calc(45 / 769 * 100vw);
        top: calc(112 / 769 * 100vw);
        font-size: calc(28 / 769 * 100vw);
        padding-top: calc(7 / 769 * 100vw);
        padding-bottom: calc(6 / 769 * 100vw);
        padding-left: calc(15 / 769 * 100vw);
    }

    .form__password-label {
        left: calc(53 / 769 * 100vw);
        top: calc(174 / 769 * 100vw);
        font-size: calc(16 / 769 * 100vw);
    }

    .form__password-input {
        height: calc(49 / 769 * 100vw);
        width: calc(509 / 769 * 100vw);
        top: calc(193 / 769 * 100vw);
        left: calc(45 / 769 * 100vw);
        font-size: calc(28 / 769 * 100vw);
        padding-top: calc(7 / 769 * 100vw);
        padding-bottom: calc(6 / 769 * 100vw);
        padding-left: calc(15 / 769 * 100vw);
    }

    .form__button {
        height: calc(52 / 769 * 100vw);
        width: calc(180 / 769 * 100vw);
        left: calc(210 / 769 * 100vw);
        top: calc(294 / 769 * 100vw);
        font-size: calc(24 / 769 * 100vw);
    }
}


@media screen and (max-width:320px) and (min-width:768px) {
    .header__logo {
        width: calc(124 / 320 * 100vw);
        height: calc(25 / 320 * 100vw);
        left: calc(20 / 320 * 100vw);
        top: calc(25 / 320 * 100vw); 
        vertical-align: middle;
    }
    
    .header__title {
        width: calc(162 / 320 * 100vw);
        height: calc(29 / 320 * 100vw);
        font-size: calc(24 / 320 * 100vw);
        vertical-align: middle;
        margin-left: calc(34 / 320 * 100vw);
    }

    .header__link-signup {
        width: calc(105 / 320 * 100vw);
        height: calc(19 / 320 * 100vw);
        top: calc(30 / 320 * 100vw);
        left: calc(559 / 320 * 100vw);
        font-size: calc(16 / 320 * 100vw);
    }
    
    .header__link-login {
        font-size: calc(16 / 320 * 100vw);
        margin-left: calc(36 / 320 * 100vw);
    }

    .form {
        height: calc(383 / 320 * 100vw);
        width: calc (600 / 320 *100vw);
        left: calc(84 / 320 * 100vw);
        top: calc(160 / 320 * 100vw);
    }

    .form__title {
        left: calc(242 / 320 * 100vw);
        top: calc(26 / 320 * 100vw);
        font-size: calc(50 / 320 * 100vw);
    }

    .form__email-label {
        left: calc(53 / 320 * 100vw);
        top: calc(93 / 320 * 100vw);
        font-size: calc(16 / 320 * 100vw);
    }
    
    .form__email-input {
        height: calc(49 / 320 * 100vw);
        width: calc(509 / 320 * 100vw);
        left: calc(45 / 320 * 100vw);
        top: calc(112 / 320 * 100vw);
        font-size: calc(28 / 320 * 100vw);
        padding-top: calc(7 / 320 * 100vw);
        padding-bottom: calc(6 / 320 * 100vw);
        padding-left: calc(15 / 320 * 100vw);
    }

    .form__password-label {
        left: calc(53 / 320 * 100vw);
        top: calc(174 / 320 * 100vw);
        font-size: calc(16 / 320 * 100vw);
    }

    .form__password-input {
        height: calc(49 / 320 * 100vw);
        width: calc(509 / 320 * 100vw);
        top: calc(193 / 320 * 100vw);
        left: calc(45 / 320 * 100vw);
        font-size: calc(28 / 320 * 100vw);
        padding-top: calc(7 / 320 * 100vw);
        padding-bottom: calc(6 / 320 * 100vw);
        padding-left: calc(15 / 320 * 100vw);
    }

    .form__button {
        height: calc(52 / 320 * 100vw);
        width: calc(180 / 320 * 100vw);
        left: calc(210 / 320 * 100vw);
        top: calc(294 / 320 * 100vw);
        font-size: calc(24 / 320 * 100vw);
    }
}