* {
    box-sizing: border-box;
}

body {
    margin: 0; 
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(80 / 1440 * 100vw);
    font-family: 'Inter';
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__block {
    display: flex;
}

.header__logo {
    width: calc(222 / 1440 * 100vw);
    height: calc(50 / 1440 * 100vw);
    margin-left: calc(30 / 1440 * 100vw);
    vertical-align: middle;
}

.header__title {
    font-size: calc(36 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
    margin-left: calc(30 / 1440 * 100vw);
    vertical-align: middle;
}

.header__link {
    display: flex;
}

.header__link-signup {
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 700;
    color: #1A226B;
    text-decoration: none;
    margin-left: calc(628 / 1440 * 100vw);
}

.header__link-login {
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 700;
    color: rgba(120, 120, 120, 1);
    text-decoration: none;
    margin-left: calc(28 / 1440 * 100vw);
}

.form {
    position: relative;
    height: calc(875 / 1440 * 100vw);
    width: calc(600 / 1440 * 100vw);
    left: calc(420 / 1440 * 100vw);
    top: calc(180 / 1440 * 100vw);
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
}

.form__title {
    position: absolute;
    left: calc(140 / 1440 * 100vw);
    top: calc(26 / 1440 * 100vw);
    font-family: Roboto, sans-serif;
    font-size: calc(50 / 1440 * 100vw);
    font-weight: 700;
    color: rgba(120, 120, 120, 1);
}

.form__email-label {
    position: absolute;
    left: calc(45 / 1440 * 100vw);
    top: calc(91 / 1440 * 100vw);
    font-family: Roboto, sans-serif;
    font-size: calc(16 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
}

.form__email-input {
    position: absolute;
    height: calc(49 / 1440 * 100vw);
    width: calc(509 / 1440 * 100vw);
    left: calc(45 / 1440 * 100vw);
    top: calc(112 / 1440 * 100vw);
    border: 2px solid rgba(120, 120, 120, 1);
    font-family: Roboto, sans-serif;
    font-size: calc(28 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
    padding-top: calc(7 / 1440 * 100vw);
    padding-bottom: calc(6 / 1440 * 100vw);
    padding-left: calc(15 / 1440 * 100vw);
}

.form__email-input::placeholder {
    color:#CCCCCC;
}

.form__email-input:focus {
    outline: #787878 none;
}

.form__password-label {
    position: absolute;
    left: calc(45 / 1440 * 100vw);
    top: calc(172 / 1440 * 100vw);
    font-family: Roboto, sans-serif;
    font-size: calc(16 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
}

.form__password-input {
    position: absolute;
    height: calc(49 / 1440 * 100vw);
    width: calc(509 / 1440 * 100vw);
    top: calc(193 / 1440 * 100vw);
    left: calc(45 / 1440 * 100vw);
    border: 2px solid rgba(120, 120, 120, 1);
    font-family: Roboto, sans-serif;
    font-size: calc(28 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
    padding-top: calc(7 / 1440 * 100vw);
    padding-bottom: calc(6 / 1440 * 100vw);
    padding-left: calc(15 / 1440 * 100vw);
}

.form__password-input::placeholder {
    color: #CCCCCC;
}

.form__password-input:focus {
    outline: #787878 none;
}

.form__password-confirm-label {
    position: absolute;
    left: calc(45 / 1440 * 100vw);
    top: calc(253 / 1440 * 100vw);
    font-family: Roboto, sans-serif;
    font-size: calc(16 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
}

.form__password-confirm-input {
    position: absolute;
    height: calc(49 / 1440 * 100vw);
    width: calc(509 / 1440 * 100vw);
    left: calc(45 / 1440 * 100vw);
    top: calc(274 / 1440 * 100vw);
    border: 2px solid rgba(120, 120, 120, 1);
    font-family: Roboto, sans-serif;
    font-size: calc(28 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
    padding-top: calc(7 / 1440 * 100vw);
    padding-bottom: calc(6 / 1440 * 100vw);
    padding-left: calc(15 / 1440 * 100vw); 
}

.form__password-confirm-input::placeholder {
    color: #CCCCCC;
}

.form__password-confirm-input:focus {
    outline: #787878 none;
}

.form__gender {
    position: absolute;
    left: calc(43 / 1440 * 100vw);
    top: calc(334 / 1440 * 100vw);
    font-family: Roboto, sans-serif;
    font-size: calc(16 / 1440 * 100vw);
    font-weight: 700;
    color: #787878; 
}

.form__radio {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: calc(5 / 1440 * 100vw);
    top: calc(355 / 1440 * 100vw);
    left: calc(45 / 1440 * 100vw);
}

.form__radio > input {
    height: calc(20 / 1440 * 100vw);
    width: calc(20 / 1440 * 100vw);
    left: calc(49 / 1440 * 100vw);
    top: calc(359 / 1440 * 100vw);
    margin-right: calc(9 / 1440 * 100vw);
    opacity: 0;
}

.form__radio > label {
    display: inline-block;
    cursor: pointer;
    left: calc(74 / 1440 * 100vw);
    top: calc(357 / 1440 * 100vw);
    font-family: Roboto, sans-serif;
    font-size: calc(14 / 1440 * 100vw);
    font-weight: 400;
    color: #787878;
    user-select: none;
} 

.form__radio > label::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: calc(16 / 1440 * 100vw);
    width: calc(16 / 1440 * 100vw);
    left: calc(5 / 1440 * 100vw);
    top: calc(3 / 1440 * 100vw);
    color: #787878;
    border: 2px solid rgba(120, 120, 120, 1);
    border-radius: 50%;
} 

.form__radio > label::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    height: calc(12 / 1440 * 100vw);
    width: calc(12 / 1440 * 100vw);
    top: calc(7 / 1440 * 100vw);
    left: calc(9 / 1440 * 100vw);
} 

.form__radio > input:checked + label::after {
    background: #787878;
}

.form__textarea-label {
    position: absolute;
    left: calc(45 / 1440 * 100vw);
    top: calc(415 / 1440 * 100vw);
    font-family: Roboto, sans-serif;
    font-size: calc(16 / 1440 * 100vw);
    font-weight: 700;
    color: #787878;
}

.form__textarea-block {
    position: absolute;
    height: calc(246 / 1440 * 100vw);
    width: calc(509 / 1440 * 100vw);
    left: calc(45 / 1440 * 100vw);
    top: calc(436 / 1440 * 100vw);
    padding-top: calc(7 / 1440 * 100vw);
    padding-left: calc(15 / 1440 * 100vw);
    border: 2px solid rgba(120, 120, 120, 1);
    color: #787878;
    font-family: Roboto,sans-serif;
    font-size: calc(28 / 1440 * 100vw);
    font-weight: 700;           
}

.form__textarea-block::placeholder {
    color: rgba(204, 204, 204, 1);
}

.form__textarea-block:focus {
    outline: #787878 none;
}

.form__checkbox {
    position: relative;
    display: flex;
    height: calc(24 / 1440 * 100vw);
    left: calc(43 / 1440 * 100vw);
    top: calc(652 / 1440 * 100vw);
    align-items: center;
}

.form__checkbox > input {
    height: calc(24 / 1440 * 100vw);
    width: calc(24 / 1440 * 100vw);
    margin-right: calc(10 / 1440 * 100vw);
    opacity: 0;
}

.form__checkbox > label {
    font-family: Roboto, sans-serif;
    font-size: calc(14 / 1440 * 100vw);
    font-weight: 400;
    color: rgba(120, 120, 120, 1);
}

.form__checkbox > label::before {
    content: ' ';
    position: absolute;
    left: calc(2 / 1440 * 100vw);
    top: calc(-2 / 1440 * 100vw);
    width: calc(24 / 1440 * 100vw);
    height: calc(24 / 1440 * 100vw);
    color: #787878;
    border: 2px solid rgba(120, 120, 120, 1);
}

.form__checkbox > label::after {
    content: '';
    position: absolute;
    height: calc(12 / 1440 * 100vw);
    width: calc(12 / 1440 * 100vw);
    background: rgba(120, 120, 120, 1);
    left: calc(10 / 1440 * 100vw);
    top: calc(6 / 1440 * 100vw);
    opacity: 0;
}

.form__checkbox > input:checked + label::after {
    opacity: 1;
}

.form__button {
    position: absolute;
    height: calc(52 / 1440 * 100vw);
    width: calc(180 / 1440 * 100vw);
    left: calc(210 / 1440 * 100vw);
    top: calc(786 / 1440 * 100vw);
    background: rgba(26, 34, 107, 1);
    border: none;
    font-family: Roboto, sans-serif;
    font-size: calc(24 / 1440 * 100vw);
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width:769px) and (min-width:1440px) {   
    .header__logo {
        width: calc(222 / 769 * 100vw);
        height: calc(50 / 769 * 100vw);
        vertical-align: middle;
        margin-left: calc(30 / 769 * 100vw);
    }
    
    .header__title {
        font-size: calc(36 / 769 * 100vw);
        vertical-align: middle;
        margin-left: calc(30 / 769 * 100vw);
    }
    
    .header__link-signup {
        font-size: calc(24 / 769 * 100vw);
    }
    
    .header__link-login {
        font-size: calc(24 / 769 * 100vw);
        margin-left: calc(28 / 769 * 100vw);
    }

    .form {
        height: calc(875 / 769 * 100vw);
        width: calc (600 / 769 *100vw);
        left: calc(420 / 769 * 100vw);
        top: calc(180 / 769 * 100vw);
    }

    .form__title {
        left: calc(140 / 769 * 100vw);
        top: calc(26 / 769 * 100vw);
        font-size: calc(50 / 769 * 100vw);
    }

    .form__email-label {
        left: calc(45 / 769 * 100vw);
        top: calc(91 / 769 * 100vw);
        font-size: calc(16 / 769 * 100vw);
    }
    
    .form__email-input {
        height: calc(49 / 769 * 100vw);
        width: calc(509 / 769 * 100vw);
        left: calc(45/ 769 * 100vw);
        top: calc(112 / 769 * 100vw);
        padding-top: calc(7 / 769 * 100vw);
        padding-bottom: calc(6 / 769 * 100vw);
        padding-left: calc(15 / 769 * 100vw);
    }
    
    .form__password-label {
        left: calc(45 / 769 *100vw);
        top: calc(172 / 769 * 100vw);
        font-size: calc(16 / 769 * 100vw);
    }
    
    .form__password-input {
        height: calc(49 / 769 * 100vw);
        width: calc(509 / 769 * 100vw);
        top: calc(193 / 769 * 100vw);
        left: calc(45 / 769 * 100vw);
        font-size: calc(28 / 769 * 100vw);
        padding-top: calc(7 / 769 * 100vw);
        padding-bottom: calc(6 / 769 * 100vw);
        padding-left: calc(15 / 769 * 100vw);
    }
    
    .form__password-confirm-label {
        left: calc(45 / 769 * 100vw);
        top: calc(253 / 769 * 100vw);
        font-size: calc(16 / 769 * 100vw);
    }
    
    .form__password-confirm-input {
        height: calc(49 / 769 * 100vw);
        width: calc(509 / 769 * 100vw);
        left: calc(45 / 769 * 100vw);
        top: calc(274 / 769 * 100vw);
        font-size: calc(28 / 769 * 100vw);
        padding-top: calc(7 / 769 * 100vw);
        padding-bottom: calc(6 / 769 * 100vw);
        padding-left: calc(15 / 769 * 100vw);
    }
    
    .form__gender {
        left: calc(43 / 769 * 100vw);
        top: calc(334 / 769 * 100vw);
        font-size: calc(16 / 769 * 100vw);
    }
    
    .form__radio {
        top: calc(355 / 769 * 100vw);
        left: calc(45 / 769 * 100vw);
        margin-bottom: calc(5 / 769 * 100vw);
         /* position: relative;
         display: flex;
         align-items: center; */
    }
    
    .form__radio > input {
        height: calc(20 / 769 * 100vw);
        width: calc(20 / 769 * 100vw);
        left: calc(49 / 769 * 100vw);
        top: calc(359 / 769 * 100vw);
        margin-right: calc(9 / 769 * 100vw);
            /* display: none; */
         
    }
    
    .form__radio > label {
        left: calc(74 / 769 * 100vw);
        top: calc(357 / 769 * 100vw);
        font-size: calc(14 / 769 * 100vw);
         
    } 
    
    .form__radio > label::before {
        content: '';
        height: calc(16 / 769 * 100vw);
        width: calc(16 / 769 * 100vw);
        left: calc(5 / 769 * 100vw);
        top: calc(3 / 769 * 100vw);
        border-radius: 50%;
            /* position: absolute;
            padding: calc(4 / 769 * 100vw); */
    } 
    
    .form__radio > label::after {
        content: '';
        border-radius: 50%;
        height: calc(12 / 769 * 100vw);
        width: calc(12 / 769 * 100vw);
        /* top: calc(9 / 769 * 100vw); */
        /* left: calc(11 / 769 * 100vw); */
    } 
    
    .form__textarea-label {
        left: calc(45 / 769 * 100vw);
        top: calc(415 / 769 * 100vw);
        font-size: calc(16 / 769 * 100vw);
    }
    
    .form__textarea-block {
        height: calc(246 / 769 * 100vw);
        width: calc(509 / 769 * 100vw);
        left: calc(45 / 769 * 100vw);
        top: calc(436 / 769 * 100vw);
        font-size: calc(28 / 769 * 100vw);
        padding-top: calc(7 / 769 * 100vw);
        padding-left: calc(15 / 769 * 100vw);        
    }
    
    .form__checkbox {
        height: calc(24 / 769 * 100vw);
        left: calc(43 / 769 * 100vw);
        top: calc(652 / 769 * 100vw);
    }
    
    .form__checkbox > input {
        height: calc(24 / 769 * 100vw);
        width: calc(24 / 769 * 100vw);;
        margin-right: calc(10 / 769 * 100vw);
        opacity: 0;
    }

    .form__checkbox > label {
        font-size: calc(14 / 769 * 100vw);
    }
    
    .form__checkbox > label::before {
        content: ' ';
        width: calc(24 / 769 * 100vw);
        height: calc(24 / 769 * 100vw);
        left: calc(2 / 769 * 100vw);
        top: calc(-2 / 769 * 100vw);
    }
    
    .form__checkbox > label::after {
        content: '';
        height: calc(12 / 769 * 100vw);
        width: calc(12 / 769 * 100vw);
        left: calc(12 / 769 * 100vw);
        top: calc(8 / 769 * 100vw);
        opacity: 0;
    }
    
    .form__checkbox > input:checked + label::after {
        opacity: 1;
    }
    
    .form__button {
        height: calc(52 / 769 * 100vw);
        width: calc(180 / 769 * 100vw);
        left: calc(210 / 769 * 100vw);
        top: calc(786 / 769 * 100vw);
        font-size: calc(24 / 769 * 100vw);
    }
}

@media screen and (max-width:320px) and (min-width:768px) {
    .header__logo {
        width: calc(124 / 320 * 100vw);
        height: calc(25 / 320 * 100vw);
        left: calc(20 / 320 * 100vw);
        top: calc(25 / 320 * 100vw); 
        vertical-align: middle;
    }
    
    .header__title {
        width: calc(162 / 320 * 100vw);
        height: calc(29 / 320 * 100vw);
        font-size: calc(24 / 320 * 100vw);
        vertical-align: middle;
        margin-left: calc(34 / 320 * 100vw);
    }

    .header__link-signup {
        width: calc(105 / 320 * 100vw);
        height: calc(19 / 320 * 100vw);
        top: calc(30 / 320 * 100vw);
        left: calc(559 / 320 * 100vw);
        font-size: calc(16 / 320 * 100vw);
    }
    
    .header__link-login {
        font-size: calc(16 / 320 * 100vw);
        margin-left: calc(36 / 320 * 100vw);
    }

    .form {
        height: calc(875 / 320 * 100vw);
        width: calc (600 / 320 *100vw);
        left: calc(84 / 320 * 100vw);
        top: calc(160 / 320 * 100vw);
    }

    .form__title {
        left: calc(140 / 320 * 100vw);
        top: calc(26 / 320 * 100vw);
        font-size: calc(50 / 320 * 100vw);
    }

    .form__email-label {
        height: calc(16 / 320 * 100vw);
        width: calc(40 / 320 * 100vw);
        left: calc(45 / 320 * 100vw);
        top: calc(91 / 320 * 100vw);
        font-size: calc(16 / 320 * 100vw);
    }
    
    .form__email-input {
        height: calc(49 / 320 * 100vw);
        width: calc(509 / 320 * 100vw);
        left: calc(45/ 320 * 100vw);
        top: calc(112 / 320 * 100vw);
        font-size: calc(28 / 320 * 100vw);
        padding-top: calc(7 / 320 * 100vw);
        padding-bottom: calc(6 / 320 * 100vw);
        padding-left: calc(15 / 320 * 100vw);
    }

    .form__password-label {
        left: calc(45 / 320 *100vw);
        top: calc(172 / 320 * 100vw);
        font-size: calc(16 / 320 * 100vw);
    }
    
    .form__password-input {
        height: calc(49 / 320 * 100vw);
        width: calc(509 / 320 * 100vw);
        top: calc(193 / 320 * 100vw);
        left: calc(45 / 320 * 100vw);
        font-size: calc(28 / 320 * 100vw);
        padding-top: calc(7 / 320 * 100vw);
        padding-bottom: calc(6 / 320 * 100vw);
        padding-left: calc(15 / 320 * 100vw);
    }
    
    .form__password-confirm-label {
        left: calc(45 / 320 * 100vw);
        top: calc(253 / 320 * 100vw);
        font-size: calc(16 / 320 * 100vw);
    }
    
    .form__password-confirm-input {
        height: calc(49 / 320 * 100vw);
        width: calc(509 / 320 * 100vw);
        left: calc(45 / 320 * 100vw);
        top: calc(274 / 320 * 100vw);
        font-size: calc(28 / 320 * 100vw);
        padding-top: calc(7 / 320 * 100vw);
        padding-bottom: calc(6 / 320 * 100vw);
        padding-left: calc(15 / 320 * 100vw);
    }
    
    .form__gender {
        left: calc(43 / 320 * 100vw);
        top: calc(334 / 320 * 100vw);
        font-size: calc(16 / 320 * 100vw);
    }
    
    .form__radio {
        top: calc(355 / 320 * 100vw);
        left: calc(45 / 320 * 100vw);
        margin-bottom: calc(5 / 320 * 100vw);
    }
    
    .form__radio > input {
        height: calc(20 / 320 * 100vw);
        width: calc(20 / 320 * 100vw);
        left: calc(45 / 320 * 100vw);
        top: calc(355 / 320 * 100vw);
        margin-right: calc(5 / 320 * 100vw);
    }
    
    .form__radio > label {
        left: calc(74 / 320 * 100vw);
        top: calc(357 / 320 * 100vw);
        font-size: calc(14 / 320 * 100vw); 
    } 
    
    .form__radio > label::before {
        content: '';
        height: calc(16 / 320 * 100vw);
        width: calc(16 / 320 * 100vw);
        left: calc(5 / 320 * 100vw);
        top: calc(3 / 320 * 100vw);
        border-radius: 50%;
    } 
    
    .form__radio > label::after {
        content: '';
        border-radius: 50%;
        height: calc(12 / 320 * 100vw);
        width: calc(12 / 320 * 100vw);
        /* top: calc(9 / 320 * 100vw); */
        /* left: calc(11 / 320 * 100vw); */
    } 

    .form__textarea-label {
        left: calc(45 / 320 * 100vw);
        top: calc(415 / 320 * 100vw);
        font-size: calc(16 / 320 * 100vw);
    }
    
    .form__textarea-block {
        height: calc(246 / 320 * 100vw);
        width: calc(509 / 320 * 100vw);
        left: calc(45 / 320 * 100vw);
        top: calc(436 / 320 * 100vw);
        font-size: calc(28 / 320 * 100vw);       
        padding-top: calc(7 / 320 * 100vw);
        padding-left: calc(15 / 320 * 100vw);     
        border: 2px solid rgba(120, 120, 120, 1);
    }

    .form__checkbox {
        height: calc(24 / 320 * 100vw);
        left: calc(43 / 320 * 100vw);
        top: calc(652 / 320 * 100vw);
    }
    
    .form__checkbox > input {
        height: calc(24 / 320 * 100vw);
        width: calc(24 / 320 * 100vw);
        margin-right: calc(10 / 320 * 100vw);
        opacity: 0;
    }

    .form__checkbox > label {
        font-size: calc(14 / 320 * 100vw);
    }
    
    .form__checkbox > label::before {
        content: ' ';
        left: calc(2 / 320 * 100vw);
        top: calc(-2 / 320 * 100vw);
        width: calc(24 / 320 * 100vw);
        height: calc(24 / 320 * 100vw);
    }
    
    .form__checkbox > label::after {
        content: '';
        height: calc(12 / 320 * 100vw);
        width: calc(12 / 320 * 100vw);
        left: calc(12 / 320 * 100vw);
        top: calc(8 / 320 * 100vw);
        opacity: 0;
    }
    
    .form__checkbox > input:checked + label::after {
        opacity: 1;
    }
    
    .form__button {
        height: calc(52 / 320 * 100vw);
        width: calc(180 / 320 * 100vw);
        left: calc(210 / 320 * 100vw);
        top: calc(786 / 320 * 100vw);
        font-size: calc(24 / 320 * 100vw);
    }
}
